

<div class="tab" *ngIf="showDescription()">

  <br>
  <img src="../../../assets/museoLogo.png" alt="logo Museo">
  <div class="card-body">
    <h5  class="card-title">{{museoDetalle[0]['nombre']}}</h5>
    <p class="card-text" style="text-align: justify">
      {{museoDetalle[0]['descripcion']}}

    </p>
    <p class="card-text" style="text-align: justify">
      País: Colombia <br>
      Ciudad: {{museoMuseo[0]['ciudad']}} <br>
    </p>

    <button (click)="cerrarVentana()">Cerrar</button>
  </div>
</div>
