.map-container {
  position: static;
  height: 700px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 70px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.botonGeneralcito {background-color: #4CAF50;}
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  border-radius: 5px;
  transition-duration: 0.4s;
  background-color: #f95568;
}
