<h3>    Manual de Uso</h3>
<div class="card">
  <h5 class="card-header">Explicacion de Proyecto</h5>
  <div class="card-body">
    Este proyecto esta Desarrollado  wen en Angular, los mapas se realizaron con la libreria Open Source Leaflet,
    se realizaron consulta a la base de datos Firebase para la consulta de todos los museos de Colombia.
    El consumo del detalle de los museos se realizo por medio del consumo de SPARQL, por medio de este se realiza la consulta a los datos enlazados Open Source.
    <p>
      Este proyecto se realiza para incentivar el turismo de los museos en Colombia y el interes al desarrollo de aplicativos tanto moviles como web de los Datos Enlazados Open Source.
    <p>
    <h6>Este proyecto se realizo para la practica Investigativa en la Fundacion Universitaria Konrad Lorenz.</h6>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Explicacion Flujo del Proyecto</h5>
  <div class="card-body">
    El flujo de este proyecto inicialmente esta contruido con:
    <p>
    - Menu que contiene una lista donde se podra acceder a este manual de usuario y al Home principal en el cual se podra ver el mapa.
      En input del buscador se podra realizar consultas directas a DBpedia sobre los museos en Colombia.
    <p>
    - En el Home Inicial se podra ver un mapa realizado con la libreria Leaflet, en la cual se podra ver los museos por medio de popup ubicados en las coordenadas especificas de cada museo.
      Se logra ver al dar click en los popup se podra ver el nombre del museo y un boton para ver a detalle del museo seleccionado.
    <p>
    - Slider de Detalle de los museos, esta slider mostrara un detalle de los museos consumiendo los datos enlazados open source, donde se mostrara la consulta y mayor informacion sobre el museo seleccionado en el boton a detalle.
  </div>
</div>
